 body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 45px  auto;
}
    form {
        font-family:'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0px 0px 10px rgba(0,0,0,0.1);
    }

    table{
        border-spacing: 0px;
    }
    td, th {
        border: 1px solid #000000;
        text-align: left;
        width:50% ;
        border: 1px solid ;
    }
    #header td {
        width: 600px;
        color: #000000;
        text-align: center;
    }
